<form action="/add_diary_entry" method="post">
<label for="diary_entry">Add your diary entry here:</label><br>
<input type="text" name="diary_entry"><br>
<input type="submit" name="Add to diary">
</form>

<a href="/view_diary">View Diary Entries</a>